body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("images/sections-background/section-1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

h2:before,
h2:after {
    box-sizing: border-box;
}

nav {
    background-color: rgba(94, 93, 88, 0.6);
    position: fixed;
    height: 120px;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
}

section {
    background-color: white;
}

h1 {
    font-weight: 700;
    font-size: 78px;
    text-transform: uppercase;
}

h2 {
    text-align: center;
    position: relative;
    font-weight: 400;
    font-size: 36px;
    color: #4E4E4E;
    padding-bottom: 100px;
}

h2:before {
    content: '';
    width: 78px;
    position: absolute;
    border: 1px solid #18CFAB;
    top: 56px;
    left: 50%;
    transform: translateX(-60%);
}

h2:after {
    content: '';
    width: 78px;
    position: absolute;
    border: 1px solid #18CFAB;
    top: 60px;
    right: 50%;
    transform: translateX(60%);
}

h3 {
    font-weight: 700;
    font-size: 35px;
    text-transform: uppercase;
}

h5 {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    text-transform: uppercase;
}

a {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    color: rgba(255, 255, 255, 0.6);
    text-decoration: none;
}

.container {
    width: 1160px;
    margin: 0 auto;
}

.navigation {
    display: flex;
    justify-content: center;
}

/* 1 */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-item {
    display: flex;
    align-items: center;
}

.logo-h {
    background-color: #18CFAB;
    width: 60px;
    height: 65px;
    color: #FFFFFF;
    font-size: 40px;
    line-height: 31px;
    font-weight: 700;
    display: flex;
    align-items: center;
    justify-content: center;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
}

.text-logo {
    color: #FFFFFF;
    font-size: 32px;
    line-height: 48px;
    margin-left: 6px;
    font-weight: 400;
}

.text-logo-accent {
    color: #18CFAB;
    font-weight: 700;
}

.container-navigation-two{
    display: flex;
    align-items: center;
}
.navigation-list {
    display: flex;
}

.navigation-item {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

.navigation-link {
    text-transform: uppercase;
    margin-right: 20px;
    color: rgba(255, 255, 255, 0.6);
}

.navigation-link:hover {
    color: #18CFAB;
    padding-bottom: 49px;
    border-bottom: 2px solid #18CFAB;
}

.section1-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    margin: 250px 0px 67px 0px;
}

.sub-topic span {
    color: #18CFAB;
}

.sub-text {
    font-weight: 400;
    font-size: 34px;
    color: #D4D4D4;
}

.section1-buttons {
    display: flex;
    justify-content: center;
    gap: 26px;
}

.link {
    width: 169px;
    padding: 16px 11px;
    background-color: #18CFAB;
    text-transform: uppercase;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 15px;
    line-height: 32px;
    border-radius: 4px;
    box-shadow: inset 0 4px #FFFFFF;
    border: none;
}

.advertising-link-explore{
    margin-right: 26px;
}

.advertising-link-purchase {
    width: 168px;
    background-color: #00CBF6;
    text-transform: uppercase;
    color: #FFFFFF;
    border-radius: 4px;
    box-shadow: inset 0 4px #FFFFFF;
    border: none;
}

/* Section 2 */
.options {
    display: grid;
    margin-top: 240px;
    border-top: 8px solid white;
    grid-template-areas: 
    "option1 option2 option3 option4";
}

.option1, .option2, .option3, .option4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 103px;
}

.option1, .option3 {
    padding-top: 85px;
    gap: 48px;
    background-color: #1C2A33;
}

.option2, .option4 {
    padding-top: 103px;
    gap: 58px;
    background-color: #18CFAB;
}

/* Section 3 */
.section3 {
    padding-top: 90px;
}

.tabs {
    display: flex;
    justify-content: center;
}

.tabs-title {
    display: flex;
    justify-content: center;
    padding: 16px 0px;
    width: 194px;
    color: #717171;
    font-weight: 400;
    font-size: 16px;
    line-height: 39px;
    background: #F8FCFE;
    border: 1px solid #EDEFEF;
    cursor: pointer;
}

.tabs-title:hover {
    border: 1.5px solid #18CFAB;
}

.tabs-title.active { 
    border: none;
    color: #FFFFFF;
    background-color: #18CFAB;
}

.tabs-title.active::after {
    content: url("./images/tabs.svg");
    position: absolute;
    top: 1470px;
}

.tabs-content {
    color: #777777;
    font-weight: 300;
    font-size: 14px;
    line-height: 24px;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 15px;
    margin-top: 30px;
    padding-bottom: 90px;
}

.content.web-design::before {
    content: url("./images/web-design.jpg");
}

.content.graphic-design::before {
    content: url("./images/graphic-design.jpg");
}

.content.online-support::before {
    content: url("./images/online-supprot.jpg");
}

.content.app-design::before {
    content: url("./images/app-design.jpg");
}

.content.online-marketing::before {
    content: url("./images/online-marketing.jpg");
}

.content.seo-service::before {
    content: url("./images/seo-service.jpg");
}

.style {
    margin: 24px auto 68px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Section 4 */
.section4 {
    background-image: url("./images/sections-background/section-2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

.bg-blure {
    background-color: rgba(0, 0, 0, 0.8);
}

.section4-contents {
    padding: 128px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 60px;
}

.section4-topic {
    font-weight: 700;
    font-size: 40px;
    color: #18CFAB;
    text-transform: uppercase;
}

.section4-subtopic {
    font-weight: 400;
    font-size: 16px;
    line-height: 40px;  
    color: #D8D8D8;  
}

/* Section 5*/
.section5 {
    background-color: #E9EDEF;
    padding: 95px 0px 100px 0px;   
}

.list-work {
    display: flex;
    justify-content: center;
}

.works-title {
    display: flex;
    flex-direction: row;
    font-weight: 400;
    font-size: 14px;
    line-height: 31px;
    color: #717171;
    padding: 14px;
    border: 1px solid;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #DADADA;
    cursor: pointer;
}

/* js filter works */
.works-title-active {
    color: #18CFAB;
    border: 2px solid #18CFAB;    
}

.hide {
    display: none;
}

/* js load images */
.list-work-image {
    display: grid;
    grid-template-columns: repeat(4, 284px);
    margin-top: 70px;
}

.item-work-image {
    position: relative;
    height: 206px;
}

.item-work-image:hover .item-work-position {
    display: block;
}

.item-work-position {
    width: 284px;
    height: 206px;
    border-top: 2px solid #18CFAB;
    text-align: center;
    position: absolute;
    top: 0;
    background-color: #FFFFFF;
    display: none;
}

.icon {
    margin: 41px 0px 24px 0px;
}

.text-work {
    font-weight: 700;
    font-size: 15px;
    line-height: 25px;
    text-transform: uppercase;
    color: #18CFAB;
    margin-bottom: 10px;
}

.text-work-web {
    color: #8A8A8A;
    font-weight: 300;
    font-size: 12px;
    line-height: 25px;
}

.button-work {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 10px 20px;
    background: #18CFAB;
    border: none;
    border-radius: 5px;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 42px;
    color: #FFFFFF;
    margin: 70px auto 0px auto;
}

/* Section 6 */
.section6 {
    padding: 85px 0px 100px 0px;
}

.news-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.news-item {
    width: 265px;
    height: 281px;
    position: relative;
    margin-bottom: 44px;
}

.news-img {
    width: 263px;
    height: 208px;
    overflow: hidden;
}

.news-title {
    font-weight: 700;
    font-size: 18px;
    color: #717171;
    padding-top: 16px;
    padding-left: 21px;
}

.news-item:hover .news-title {
    color: #18CFAB;
}

.news-autor,
.news-comments {
    display: inline-block;
    font-weight: 300;
    font-size: 14px;
    color: #777;
    padding-top: 18px;
    padding-left: 18px;
}

.news-autor:after {
    content: '|';
    padding-left: 18px;
}

.news-date {
    width: 70px;
    height: 68px;
    position: absolute;
    top: 0;
    right: 2px;
    background-color: #203E38;
    font-size: 16px;
    line-height: 25px;
    text-align: center;
    padding-top: 9px;
    color: #FFF;
}

.news-item:hover .news-date {
    background-color: #18CFAB;
}

.news-item:hover img {
    transition: 1s;
    transform: scale(1.05);
}

/* Section 7 */
.section7-topic {
    color: white;
}

.section-testimonials {
    background-image: url("./images/Sections-background/section-3.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    padding: 100px 0;
}

.shapes {
    display: block;
    margin: 0 auto;
    width: 44px;
    height: 30px;
}

.slider-for {
    text-align: center;
    margin-bottom: 50px;
}

.item-text {
    margin-top: 36px;
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    color: #BBBBBB;
}

.item-autor {
    margin-top: 37px;
    font-weight: 700;
    font-size: 16px;
    text-transform: uppercase;
    color: #18CFAB;
}

.item-autor-job {
    margin-top: 18px;
    margin-bottom: 38px;
    font-weight: 300;
    font-size: 13px;
    color: #BBBBBB;
}

.item-img {
    margin: 0 auto;
    border: 12px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    width: 142px;
    height: 142px;
}

.slider-naw {
    width: 366px;
    margin: 0 auto;
}

.slider-naw img {
    border: 6px solid rgba(31, 218, 181, 0.2);
    border-radius: 50%;
    width: 60px;
    height: 60px;
    margin: 13px auto;
}

.slider-naw img:hover {
cursor: pointer;
    transform: translateY(-13px);
}

.slick-prev-arr,
.slick-next-arr {
    width: 31px;
    height: 31px;
    background-color: transparent;
    border: 1px solid #BBB;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.slick-prev-arr {
    left: -46px;
}

.slick-next-arr {
    right: -46px;
}

.slick-prev-arr:hover,
.slick-next-arr:hover {
    background-color: #18CFAB;
    border: none;
    cursor: pointer;
}

.slick-prev-arr:before {
    transform: rotate(45deg);
    top: 17px;
    right: 11px;
}

.slick-prev-arr:after {
    transform: rotate(-45deg);
    bottom: 17px;
    right: 11px;
}

.slick-prev-arr:before,
.slick-prev-arr:after,
.slick-next-arr:before,
.slick-next-arr:after {
    width: 10px;
    height: 2px;
    content: '';
    background: #BBB;
    display: inline-block;
    position: absolute;
}

.slick-prev-arr:hover:before,
.slick-next-arr:hover:before,
.slick-prev-arr:hover:after,
.slick-next-arr:hover:after {
    background-color: #FFF;
}

.slick-next-arr:before {
    transform: rotate(45deg);
    bottom: 17px;
    left: 11px;
}

.slick-next-arr:after {
    transform: rotate(-45deg);
    top: 17px;
    left: 11px;
}

/* footer */
footer {
    width: 100%;
    background-color: #22353F;
    display: flex;
    justify-content: center;
}

.copyright {
    padding: 47px 0;
    font-weight: 300;
    font-size: 14px;
    color: #AEAEAE;
}

.copyright span {
    color: #18CFAB;
}

.copyright:first-child {
    padding-right: 7px;
}

.copyright:first-child:after {
    content: '|';
    padding-left: 7px;
}